*.pyc
db.sqlite3
/venv
.env
*.sqlite3
__pycache__
*.scss
.sb-admin-2.css
.sb-admin-2.min.css
.static/css/js/chart.min.js
.static/css/js/chart.bar-demo.js
.static/css/js/chart.area-demo.js
.static/css/js/chart.pie-demo.js
.static/css/all.min.css
.static/css/datatables/dataTables.bootstrap4.min.css
.static/css/pt-BR.json
.static/css/sb-admin-2.css
.static/js/jquery.easing.min.js
.svg
.gitignore
.*vendor
/static/js/datatables/
/static/scss/
/static/css/datatables/
