{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">Lista de Condomínios</h6>
        <a href="{% url 'cond_add' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-plus fa-sm text-white-50"></i> Adicionar</a>
        <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-download fa-sm text-white-50"></i> PDF</a>-->
      </div>
    </div>
         <div class="table-container">
            <div class="table-responsive">
                <table class="table table-hover"
                id="dataTable"
                data-order= 0>
                  <thead>
                    <tr class="bg-gradient-primary">
                        <th>ID</th>
                        <th style="min-width:15rem">Nome Condomínio</th>
                        <th style="min-width:25rem">Logradouro</th>
                        <th style="min-width:15rem">Cidade</th>
                        <th>UF</th>

                    </tr>
                  </thead>
                      <tbody>
                          {%  for condominio in condominio %}
                             <tr>
                                 <td data-label="ID"><b>{{ condominio.id}}</b></td>
                                 <td data-label="Nome Condomínio"><a href="{{ object.get_absolute_url }}">{{ condominio.nome }}</a></td>
                                 <td data-label="Logradouro">{{ condominio.endereco }}</td>
                                 <td data-label="Cidade">{{ condominio.cidade }}</td>
                                 <td data-label="UF">{{ condominio.uf }}</td>

                             </tr>
                          {% endfor %}
                      </tbody>
                </table>

            </div>
         </div>

</div>

{% endblock %}