{% extends 'base.html' %}
{% load static %}

{% block title %} Estado de Conservação {% endblock %}


{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">Lista Estado de Conservação</h6>

      </div>
    </div>
        <div class="container-sm">
            <div class="table-responsive-sm">
                <table class = "table table-hover" >
                    <thead>
                        <tr class="bg-gradient-primary">
                              <th>ID</th>
                              <th>Nome</th>
                              <th>Código</th>

                        </tr>
                    </thead>
                    <tbody>
                     {%  for estadoConser in estadoCons %}
                         <tr>
                             <td>{{ estadoConser.id  }} </td>
                             <td><a href="{{ object.get_absolute_url }}">{{ estadoConser.nome }}</a></td>
                             <td>{{ estadoConser.codigo }}</td>



                         </tr>
                     {% endfor %}
                     </tbody>
                </table>

            </div>
        </div>
</div>
{% endblock %}