{% extends 'base.html' %}
{% load static %}

{% block title %} Projeto Integrador 3 {% endblock %}

{% block content %}
  <nav id="barra-home">
       <h5 style="color:#4F505A">Projeto Integrador III - Curso de Eixo de Computação da UNIVESP.</h5>
  </nav>
  <div class="container">
      <div class="table-responsive">
         <div class="corpo-home">

              <p><b>UNIVERSIDADE VIRTUAL DO ESTADO DE SÃO PAULO- Grupo 011</b></p>
              <br><br>

              <p>Claudia Hernandez, RA 2012997</p>
              <p>José Augusto dos Santos Filho, RA 2000175</p>
              <p>Marcelo Laureano da Silva, RA 2006059</p>
              <p>Márcio Corvino Nogueira, RA 2004166</p>
              <p>Patrick Luiz Vilela Nascimento, RA 2010859</p>
              <p>Tatiana Madeira Piqueras Rosa, RA 2008266</p>
              <p>Uindsor Aparecido de Souza, RA 1806957</p>
              <p>Victor Restani de Castro, RA 2004034</p>
              <br><br>
              <p><b>Precificação de valor de mercado de imóveis para venda</b></p>
        </div>
    </div>
  </div>

{% endblock content %}


