{% extends 'base.html' %}
{% load static %}

{% block title %} Detalhes do Imovel {% endblock %}

{% block content %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Detalhes do Imóvel</h6>
        <a href="{% url 'imovel_list' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Voltar</a>
      </div>
    </div>
     <div class="card-body">
        <table class="table table-responsive-sm">
          <tbody>
           <tr>
               <td style="min-width:8rem">Dta cadastro</td>
               <td style="min-width:8rem">{{ object.dtacadastro|date:"d/m/Y"|default:"---" }}</td>
           </tr>
           <tr>
                <td>Tipo</td>
                <td>{{object.tipo.nome|default:"---"}}</td>
           </tr>
           <tr>
               <td>Condomínio</td>
               <td>{{object.nomecondominio.nome|default:"---"}}</td>
           </tr>
           <tr>
              <td>Bairro</td>
              <td>{{object.bairro|default:"---"}}</td>
           </tr>
           <tr>
              <td>Cidade</td>
              <td>{{object.cidade|default:"---"}}</td>
           </tr>
           <tr>
              <td>AC</td>
              <td>{{object.aconstruida|default:"---"}}</td>
           </tr>
           <tr>
              <td>AT</td>
              <td>{{object.atotal|default:"---"}}</td>
           </tr>
           <tr>
               <td>Estátus</td>
               <td>{{object.get_status_display|default:"---"}}</td>
           </tr>
           <tr>
               <td>Padrão</td>
               <td>{{object.padrao|default:"---"}}</td>
           </tr>
           <tr>
              <td>EC</td>
              <td>{{object.estadoconser|default:"---"}}</td>
           </tr>
           <tr>
               <td>Idade</td>
               <td>{{object.idade|default:"---"}}</td>
           </tr>
           <tr>
               <td>Valor</td>
               <td>{{object.valordevenda|default:"---"}}</td>
           </tr>
           <tr>
               <td>Consultor</td>
               <td>{{object.consultor|default:"---"}}</td>
           </tr>

          </tbody>
        </table>

    </div>
  </div>
{% endblock content %}


