{% extends "base_old.html" %}
{% load static %}

{% block titulo %} Login {% endblock %}

{% block content %}

    <div class="col-xl">
              <br><br>
              <h4 style="color:black">Olá Usuário do setor imobiliário: </h4>
              <hr>
              <div class="corpo-texto">
                      <p> O <b>objetivo</b> deste sistema é suprir a necessidade apontada pelo setor
    imobiliário em relação à precificação de imóveis, que possui vários métodos que são aplicados por engenheiros, arquitetos e corretores de imóveis.</p>
                      <p> Estamos oferecendo um sistema <b>WEB Responsivo</b>
                          de <b>Divulgação da Venda e Avaliação</b>, com o objetivo de encontrar um valor aproximado para determinado imóvel, com base na
                          comparação com outros imóveis , utilizando o Método Comparativo de Imóveis do Mercado,
                      sendo bem eficiênte nas Avaliações de Imóveis, buscando imóveis com as mesmas Características:  como localização,  padrão, tipo e  calculando a homogeneização da idade de acordo com a Vida Útil dos imóveis de referência cadastrados no banco de dados. </p>
                      <p>Para isso, inserimos dados (CONSTANTES), apresentados no curso de Avaliação Imobiliária/CRECI-SP, nas tabelas: Ross- Heideck, tipos, estado de conservação e padrões de imóveis.</p>
                      <p>O portal <b>MARKET PRICE</b> terá  um banco de dados de Imóveis à VENDA da região de Ribeirão Preto,
     podendo a Imobiliária, Corretor ou Proprietário Avaliar o Imóvel Cadastrado, salvando suas Pesquisas, podendo Duplica-las em outras datas e com isso Analisar a Variação dos Preços do Mercado. </p>
                    <p color="black"><H5><b>Colabore cadastrando seu imóvel e assim poderemos manter um banco de dados mais robusto e uma avaliação mais precisa.</b></H5></p>
                   <p>Para utilização do sistema, favor fazer seu <a href="{% url 'proprietario_avaliador_add' %}">CADASTRO</a>   para depois <a href="{% url 'login' %}" >ENTRAR</a> no sistema.</p>

              </div>
              </br>
              <div class="row">

              <div class="col-6">
                  {%  if not user.get_full_name != Null %}
                      <a href="{% url 'login' %}" class="btn btn-primary" >Entrar</a>
                      <a href="{% url 'proprietario_avaliador_add' %}" class="btn btn-warning">Cadastro</a>
                  {% else %}
                      <a class="btn btn-danger" href="{% url 'logout' %}">Sair</a>
                      <a class="btn btn-success" href="{% url 'home' %}">Home</a>
                  {% endif %}
              </div>
          </div>
    </div>


{% endblock %}