{% extends 'base.html' %}
{% load static %}

{% block content %}

 <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Pesquisa de Imóveis</h6>
      </div>
          <hr>
        <h7>Preencha os dados do imóveis a buscar:</h7>
        <form action="{% url 'pesquisa' %}" method="post">
            {% csrf_token %}
             <div class="form-group">
                <label class="uso">Uso:</label>
                <input type="text" name="uso" id="uso" size="30" />
             </div>
             <div class="form-group">
                 <label for="tipo">Tipo:</label>
                 <input type="text" name="tipo" id="tipo" size="30" />
             </div>
              <div class="form-group">
                 <label for="padrao">Padrão:</label>
                 <input type="text" name="padrao" id="padrao" size="30" />
              </div>
              Localização:
              <div class="form-group">
                   <label for="condominio">Condomínio:</label>
                   <input type="text" name="condominio" id="condominio" size="30" />
              <label for="bairro">Bairro:</label></td>
                  <input type="text" name="bairro" id="bairro" size="10" />
              <label for="cidade">Cidade:</label></td>
                   <input type="text" id="cidade" name="cidade" size="10" />
              <label for="uf">UF:</label>
                   <select id="estado" name="estado">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP" selected>São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                  </select>
                  </div>
                  <div>
                      <input type="submit" value="Buscar" />
                  </div>

        </form>
    </div>
 </div>

{% endblock %}