{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class = "card">
<div class="card-body">
 <h4 style="color:blue"> Imóveis Referenciais - Lista dos imóveis selecionados de mesmo Padrão, Tipo, Condomínio/Edificio e Bairro: </h4>
 <hr>
    <div><h5 style="color:black">Dados do imóvel avaliando :</h5>

        <div class="font_topicos">
            <div style="color:black;font-size: 20px">Localização </div> <span style="color:black">- Nome do Condomínio: {{ dados.nomecondominio }}, Bairro: {{ dados.bairro }},Cidade: {{ dados.cidade }},
               Estado: {{ dados.estado }}</span> </div>
            <div style="color:black;font-size: 20px">Características </div><span style="color:black"> - Uso: {{ dados.get_uso_display }},
              Idade: {{ dados.idade }}, Área Construída: {{ dados.aconstruida }}, Tipo : {{ dados.tipo.nome }},
              Padrão: {{ dados.padrao.nome }}</span>
        </div>


</div>


   </div>


        <table class = "table table-striped">
          <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Padrâo</th>
                <th>Condomínio</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>AC</th>
                <th>Status</th>
                <th>Idade</th>
                <th>Valor</th>
            </tr>

          </thead>
          <tbody>
             {% for imovel in referenciais %}
             <tr>
                 <td><a href="{{ object.get_absolute_url }}">{{ imovel.id }}</a></td>
                 <td>{{ imovel.tipo.nome }}</td>
                 <td>{{ imovel.padrao.nome }} </td>
                 <td>{{ imovel.nomecondominio.nome }} </td>
                 <td>{{ imovel.bairro }}</td>
                 <td>{{ imovel.cidade }}</td>
                 <td>{{ imovel.estado }}</td>
                 <td>{{ imovel.aconstruida }} </td>
                 <td>{{ imovel.get_status_display }} </td>
                 <td>{{ imovel.idade }} </td>
                 <td>{{ imovel.valordevenda }} </td>

          </tr>
            {% endfor %}

          </tbody>
        </table>

</div>
</div>
{% endblock %}