{% extends 'base.html' %}
{% load static %}


{% block title %} Tabela de Ross Heideck {% endblock %}


{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">Tabela de Ross Heideck</h6>

      </div>
    </div>
        <div class="container">
            <div class="table-responsive">
                <table class = "table table-hover" >
                    <thead>
                        <tr class="bg-gradient-primary">
                            <th>ID</th>
                            <th>Idade em % vida</th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>D</th>
                            <th>E</th>
                            <th>F</th>
                            <th>G</th>
                            <th>H</th>
                         </tr>
                     </thead>
                    <tbody>
                      {%  for tabela in ross %}
                         <tr>
                             <td>{{ tabela.id }} </td>
                             <td>{{ tabela.idade_em_vida }}</td>
                             <td>{{ tabela.a }}</td>
                             <td>{{ tabela.b }}</td>
                             <td>{{ tabela.c }}</td>
                             <td>{{ tabela.d }}</td>
                             <td>{{ tabela.e }}</td>
                             <td>{{ tabela.f }}</td>
                             <td>{{ tabela.g }}</td>
                             <td>{{ tabela.h }}</td>
                         </tr>
                     {% endfor %}
                      </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}