{% extends 'base.html' %}
{% load static %}

{% block title %} Tipos de Imóveis {% endblock %}


{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">Lista Tipos de Imóveis</h6>
      </div>
    </div>
        <div class="container-sm col-6 offset-3">
            <div class="table-responsive-sm">
                <table class = "table table-hover">
                    <thead>
                        <tr class="bg-gradient-primary">
                            <th>Codigo</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% csrf_token %}
                      {%  for tipo in tipos %}
                        <tr>
                            <td>{{ tipo.id  }} </td>
                            <td><a href="{{ object.get_absolute_url }}">{{ tipo.nome }}</a></td>
                       </tr>
                      {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
</div>
{% endblock %}