{% extends 'base.html' %}
{% load static %}

{% block title %} Tipos de Imóveis {% endblock %}


{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="d-sm-flex align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">Lista Tipos de Imóveis</h6>
      </div>
    </div>
         <div class="card-body col-4 offset-lg-4">
             <table
                  class="table table-striped"
             >

                  <thead>
                      <tr>
                          <th>Codigo</th>
                          <th>Nome</th>
                          {% if user.username == 'clauhernandez.sistemas@gmail.com' %}
                              <th>Ações</th>
                          {% endif %}
                      </tr>
                  </thead>
                  <tbody>
                      {% csrf_token %}
                      {%  for tipo in tipos %}
                      <tr>
                          <td>{{ tipo.id  }} </td>
                          <td>{{ tipo.nome }}</td>

                          {% if user.username == 'clauhernandez.sistemas@gmail.com' %}
                          <td><button class='btn btn-warning'>Editar</button>
                              <button class='btn btn-danger'>Excluir</button>
                          </td>
                          {% endif %}
                      </tr>
                     {% endfor %}
                  </tbody>
             </table>

         </div>
</div>
{% endblock %}