
.p {
    color: #000000;
}


.font_topicos{
   color: #02091e;
   margin-bottom: 20px;
   padding-bottom: 15px;
   padding-top: 20px;

}
#form-quadro{
   display: flex;
   background-color: white;
   color: #18181c;
   border-color: #18181c;
   overflow-x: hidden;
   margin-inline-end: 10px;
}


.corpo-home{
   margin-top: 4vh;
   text-align: center;
   font-size: large;
   color:#18181c;

}
.corpo-texto{
   text-align: justify;
   font-size: large;
   color: #18181c;
   margin: 3%;
}
.table-responsive{
   overflow-x: hidden;
 }

td {
  color: #2B2B2C;
}
thead{
  background-color: #D8D8D8;
  color:#000000;
}
.sorting {
  color: #2B2B2C;
}
.bg-grafico-image {
   align-content: center;
   text-align: center;
}
.bg-login-image {
  background: url("../img/my_img/login.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.card-body{
  background-color: #F5F5F5;
}

#barra-home{
    padding:2vh;
    font-size-adjust: unset;
    text-align: Left;
    box-sizing: border-box;
    background-color:#B1D2D4;

}

#menu-h{
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #CFE8E5;
}

#menu-h ul {
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #3d3c3c;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: #1795AE;
    color:#ffefef;
}

@media (max-width: 600px) {
.p {
   color: #090909;
   font-size: small;
}
.corpo-texto{
   text-align: Left;
   font-size: small;
   color: #090909;
   margin: 3%;
}
.table-responsive{
   text-align: Left;
   font-size: small;
    overflow-x: scroll;
}
}