{% extends 'base_old.html' %}
{% load bootstrap %}

{% block title %}Cadastro{% endblock %}

{% block content %}

<div class="card-header py-0">
   <div class="alert alert-success" role="alert"> Faca seu cadastro para acessar o sistema !
   </div>

    <div class="card shadow mb-4">
        <div class="card-body col-6 offset-3">
            <form action="." method="POST">
                {% csrf_token %}
                {{  form|bootstrap }}

                <div class="float-right">
                  <button class="btn btn-primary" type="submit">Salvar</button>
                </div>

            </form>
        </div>
    </div>
 </div>

{% endblock content %}