{% extends 'base_old.html' %}
{% load bootstrap %}

{% block title %}Cadastro{% endblock %}

{% block content %}

<div class="alert alert-secondary" role="alert"> Faca seu cadastro para acessar o sistema !</div>
   <div class="container-sm">
        <div class="card-body py-4 px-6 col-md-12">

                <form action="." method="POST">
                    {% csrf_token %}
                    {{  form|bootstrap }}

                    <div class="float-right">
                      <button class="btn btn-primary" type="submit">Salvar</button>
                      <button class="btn btn-warning" type="reset">Limpar</button>
                    </div>

                </form>

            </div>


</div>
<div class="card-footer">
     <h8 style="align-content: center"> @avalieseuimovel - 2022</h8>
</div>

{% endblock content %}